<!-- footer section start -->
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="index.html"><img src="/src/assets/logo.svg" alt="" class="img-fluid logo-footer"></a>
                    <div class="footer-about">
                        <img src="assets/footerlogo.svg" style="margin-bottom:3rem;" >
                        <p>Step into our pastry wonderland where every treat tells a story of artisanal craftsmanship and sweet indulgence. Our shop is a symphony of aromas and flavors, offering an exquisite array of handcrafted delights, from flaky croissants to decadent cakes.</p>
                    </div>

        </div>
                  <div class="col-md-3">
                      <div class="social-links">
            <h2>Follow Us</h2>
            <img src="./assets/images/about/home_line.png" alt="">
            <div class="social-icons">
              <li><a href=""><i class="fa-brands fa-facebook-f"></i>Facebook</a></li>
              <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
            </div>
          </div>
                  

                  </div>
        <div class="col-md-3">
          <div class="address">
            <h2>Address</h2>
            <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
            <div class="address-links">
              <li class="address1"><i class="fa-solid fa-location-dot"></i> XYZ Layout, Whitefield<br>
            Bangalore <br>
            682021</li>
                 <li><a href=""><i class="fa-solid fa-phone"></i> +91 1234567891</a></li>
                 <li><a href=""><i class="fa-solid fa-envelope"></i> mail@1234567.com</a></li>
            </div>
          </div>
        </div>
                
      </div>
    </div>

  </footer>