
<div class="main">
    <div class="landing">
        <div class="left">
            <!-- <h1 style="margin-left: 70px;" id="displayName">Hi Name</h1> -->
            <h1 id="landinghead">Where Every Bite Sparks <br> <span>Sweet Memories and Joyful Moments.</span></h1>
            <p id="landingcontent">Discover our pastry shop's divine selection, where artisanal treats blend flavors, textures, and artistry for an unforgettable sweet journey. </p>
        </div>
        <div class="right">
            <img id="homeimg" src="assets/homeimg.png" alt="">
        </div>
    </div>
    