<div class="full">
    <form>
        <h3>Register Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" [(ngModel)]="username"  name="username">

        <label for="Email">Email</label>
        <input type="email" placeholder="Email" id="email" [(ngModel)]="email" name="email">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" [(ngModel)]="password" name="password">

        <label for="pnum">Ph no:</label>
        <input type="number" placeholder="Phone number" id="phno" [(ngModel)]="phoneNumber" name="phoneNumber">

        <button (click)="storeData()">Register</button>
    </form>
</div>
    
