<div class="testimonials">
    <h1 style="color: white; text-align: center; padding-top: 5rem;text-decoration-line: overline;text-decoration-thickness: from-font;">Our Customer Reviews</h1>
    <div class="outerdiv">
        <div class="innerdiv">
            
          <!-- div1 -->
          <div class="div1 eachdiv">
            <div class="userdetails">
              <div class="imgbox">
                <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-daniel.jpg" alt="">
              </div>
              <div class="detbox">
                <p class="name">Daniel Clifford</p>
              </div>
            </div>
            <div class="review">
              <h4> "Delightful Taste Sensations!"</h4>
            <p>"Every visit to this pastry shop is a treat for the taste buds! The array of pastries and desserts is simply heavenly. Each bite is a delightful explosion of flavors and textures, showcasing the skill and dedication of the pastry chefs. It's a haven for those seeking sweet perfection."</p>
            </div>
          </div>
          <!-- div2 -->
          <div class="div2 eachdiv">
            <div class="userdetails">
              <div class="imgbox">
                <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jonathan.jpg" alt="">
              </div>
              <div class="detbox">
                <p class="name">Jonathan Walters</p>
              </div>
            </div>
            <div class="review">
              <h4> "A Sweet Haven of Creativity"</h4>
            <p>"This pastry shop is a haven for creativity and innovation. Their pastries are not only delicious but also beautifully crafted."</p>
            </div>
          </div>
          <!-- div3 -->
          <div class="div3 eachdiv">
            <div class="userdetails">
              <div class="imgbox">
                <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-kira.jpg" alt="">
              </div>
              <div class="detbox">
                <p class="name dark">Kira Whittle</p>
              </div>
            </div>
            <div class="review dark">
              <h4>"Simply Irresistible!"</h4>
              <p>"Indulging in pastries from this shop is an absolute delight! The moment you step in, the aroma of freshly baked goods entices you. The quality and freshness of their pastries are unmatched. It's impossible to resist treating yourself to these delectable sweets!"</p>
            </div>
          </div>
          <!-- div4 -->
          <div class="div4 eachdiv">
            <div class="userdetails">
              <div class="imgbox">
                <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-jeanette.jpg" alt="">
              </div>
              <div class="detbox">
                <p class="name dark">Jeanette Harmon</p>
              </div>
            </div>
            <div class="review dark">
              <h4>"Exquisite and Elegant Treats"</h4>
            <p>"This pastry shop offers an elegant selection of treats that are perfect for any occasion."</p>
            </div>
          </div>
          <!-- div5 -->
          <div class="div5 eachdiv">
            <div class="userdetails">
              <div class="imgbox">
                <img src="https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/image-patrick.jpg" alt="">
              </div>
              <div class="detbox">
                <p class="name">Patrick Abrams</p>
              </div>
            </div>
            <div class="review">
              <h4>"A Slice of Bliss!"</h4>
            <p>"Visiting this pastry shop is like discovering a slice of bliss. The pastries here are pure joy encapsulated in every bite. The variety available means there's something for everyone, and each treat feels like a little celebration. It's my go-to place for a taste of happiness!"</p>
            </div>
          </div>
        </div>
      </div>
</div>

