
  <!-- <div class="bg">
    <h1>Yumm!!</h1>
  </div> -->

  <div class="fullbody">
    <h1 style="text-align: center; color: white; text-decoration: overline;text-decoration-thickness: from-font;">Our Products</h1>
    <div class="nft">
      <div class='main'>
        <img class='tokenImage' src="assets/p1.png" />
        <h2>Blueberry Cheesecake</h2>
        <p class='description'>Delight in our luscious blueberry cheesecake, a symphony of creamy perfection and fruity bliss.</p>
        <div class='tokenInfo'>
          <div class="price">
            <p>Rs 250 </p>
          </div>
        </div>
        <div class="btn">
          <button class="buy-btn">Add to card</button>
        </div>
        <hr />
      </div>
    </div>
  
  
    <div class="nft">
      <div class='main'>
        <img class='tokenImage' src="assets/p1.png" />
        <h2>Blueberry Cheesecake</h2>
        <p class='description'>Delight in our luscious blueberry cheesecake, a symphony of creamy perfection and fruity bliss.</p>
        <div class='tokenInfo'>
          <div class="price">
            <p>Rs 250 </p>
          </div>
        </div>
        <div class="btn">
          <button class="buy-btn">Add to card</button>
        </div>
        <hr />
      </div>
    </div>
  
    <div class="nft">
      <div class='main'>
        <img class='tokenImage' src="assets/p1.png" />
        <h2>Blueberry Cheesecake</h2>
        <p class='description'>Delight in our luscious blueberry cheesecake, a symphony of creamy perfection and fruity bliss.</p>
        <div class='tokenInfo'>
          <div class="price">
            <p>Rs 250 </p>
          </div>
        </div>
        <div class="btn">
          <button class="buy-btn">Add to cart</button>
        </div>
        <hr />
      </div>
    </div>
  </div>
 