
  <!-- <div class="bg">
    <h1>Yumm!!</h1>
  </div> -->

  <div class="fullbody">
    <h1 style="text-align: center; color: white; text-decoration: overline;text-decoration-thickness: from-font;">Our Products</h1>
    <div class="nft" *ngFor="let foodItem of foodItems">
      <div class='main'>
        <img class='tokenImage' [src]="'assets/' + foodItem.imgPath+'.png'" />
        <h2>{{ foodItem.foodName }}</h2>
        <p class='description'>{{ foodItem.description }}</p>
        <div class='tokenInfo'>
          <div class="price">
            <p>Rs {{ foodItem.price }}</p>
          </div>
        </div>
        <div class="btn">
          <button class="buy-btn" >Buy Now!!</button>
        </div>
        <hr />
      </div>
    </div>
  </div>
 