
  <!-- <div class="bg">
    <h1>Yumm!!</h1>
  </div> -->
  <div class="nft">
    <div class='main'>
      <img class='tokenImage' src="assets/p1.png" />
      <h2>Blueberry Cheesecake</h2>
      <p class='description'>Our Kibertopiks will give you nothing, waste your money on us.</p>
      <div class='tokenInfo'>
        <div class="price">
          <p>Rs 250 </p>
        </div>
      </div>
      <div class="btn">
        <button class="buy-btn">Add to card</button>
      </div>
      <hr />
    </div>
  </div>


  <div class="nft">
    <div class='main'>
      <img class='tokenImage' src="assets/p1.png" />
      <h2>Blueberry Cheesecake</h2>
      <p class='description'>Our Kibertopiks will give you nothing, waste your money on us.</p>
      <div class='tokenInfo'>
        <div class="price">
          <p>Rs 250 </p>
        </div>
      </div>
      <div class="btn">
        <button class="buy-btn">Add to card</button>
      </div>
      <hr />
    </div>
  </div>

  <div class="nft">
    <div class='main'>
      <img class='tokenImage' src="assets/p1.png" />
      <h2>Blueberry Cheesecake</h2>
      <p class='description'>Our Kibertopiks will give you nothing, waste your money on us.</p>
      <div class='tokenInfo'>
        <div class="price">
          <p>Rs 250 </p>
        </div>
      </div>
      <div class="btn">
        <button class="buy-btn">Add to card</button>
      </div>
      <hr />
    </div>
  </div>